@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,900;1,400;1,500;1,600&family=Poppins&display=swap');

*{
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

:root{
  --primary: #6948ff;
  --secondary: #553bcb;
  --darkgrey: #22262a;
  --lightgrey: #d3d3d3;
  --grey: #808080;
}


body {
  color: #333;
  font-family: 'Montserrat', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  columns: #fff;
}

.primary-color {
  color: var(--primary);
}

button {
  width: 100%;
  padding: 8px 0;
  border-radius: 4px;
  border: 1px solid var(--primary);
  background-color: var(--primary);
  color: #fff;
  cursor: pointer;
}

button:hover{
  border: 1px solid var(--secondary);
  background-color: var(--secondary);
}

@media screen and (max-width:960px) {
  .pricing .top-content {
    grid-template-columns: 1fr;
  }

  .pricing .container .bottom-content {
    display: none;
  }

  .pricing .top-content h2 {
    font-size: 32px;
  }
}